/* @font-face {
  font-family: MacPaw Fixel, sans-serif;
  src: url(/css/Font/MacPawFixel/MacPawFixel-VF.ttf);
} */

/*

--- 01 TYPOGRAPHY

- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line hights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing: 
-0.5px
0.75px

--- 02 COLORS 

– Primary: #141322
- Secondary: #ff4500

– Tints: 
– Shadows: #992900

– Accents: 
– Greys: #969696

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


--- 06 BORDER_RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif; /* 'MacPaw Fixel' */
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #141322;
  overflow-x: hidden;

  margin: 0 auto;
  padding: 0 3.4rem;
  max-width: 130rem;
}

/***************************/
/* GENERAL REUSABLE COMPONENTS */
/***************************/

.heading-primary {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #ff4500;
  padding: 1.4rem 4.2rem;
  border: solid 1px #ff4500;
  border-radius: 5px;
  font-size: 1.8rem;

  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #e63e00;
  color: #fff;
}

/***************************/
/* HEADER */
/***************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header  to be sticky */
  height: 9.6rem;
  padding: 3.2rem 2.4rem;
}

.logo {
  height: 5.4rem;
}

/***************************/
/* Navigation */
/***************************/

.main-nav {
  font-weight: 400;
  /* position: sticky;
  top: 0; */
}

.main-nav a {
  color: #fff;
}

.main-nav span {
  color: #ff4500;
}

.main-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3.2rem;

  position: sticky;
  top: 0;
}

.main-nav-list-item:link,
.main-nav-list-item:visited {
  font-size: 1.8rem;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-list-item:hover,
.main-nav-list-item:active {
  color: #ff4500;
}

/***************************/
/* HERO SECTION */
/***************************/

.section-hero {
  padding: 11rem 20rem 9.6rem 20rem;
  margin-bottom: 9.6rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.hero-introduce-text {
  color: #ff4500;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.heading-secondary-color {
  color: #969696;
}

.hero-description {
  /* display: grid; */
  /* grid-template-columns: 2fr 1fr; */
  max-width: 58.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  color: #969696;
  margin-bottom: 4.8rem;
}

a {
  text-decoration: none;
  color: #ff4500;
}

/* 
a:hover {
  text-decoration: underline;
}

a:active {
  color: #969696;
  font-weight: 600;
} */

/***************************/
/* ABOUT SECTION */
/***************************/

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 9.6rem;
}

.about-img {
  width: 100%;
}

.about-heading {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.about-heading {
  color: #fff;
}

.about-heading span {
  color: #ff4500;
}

.about-text-box {
  max-width: 58.5rem;
  font-size: 1.8rem;
  line-height: 1.7;
  font-weight: 400;
  color: #969696;
  margin-bottom: 4.8rem;
}

.about-list {
  list-style: inside;
  list-style: none;
}

.about-list li::before {
  content: '\2022';
  color: #ff4500;
  font-weight: light;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.about-img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
