/* @font-face {
  font-family: MacPaw Fixel, sans-serif;
  src: url(/css/Font/MacPawFixel/MacPawFixel-VF.ttf);
} */

/*

--- 01 TYPOGRAPHY

- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line hights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing: 
-0.5px
0.75px

--- 02 COLORS 

– Primary: #141322
– Tints: 

– Shadows: 

– Accents: 
– Greys: 

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


--- 06 BORDER_RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px (which we want) / by 16px (which we need) = 0.625 = 62.5% */

  font-size: 62.5%;
}

body {
  font-family: sans-serif; /* 'MacPaw Fixel' */
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #141322;
  overflow-x: hidden;
}
