/* @font-face {
  font-family: MacPaw Fixel, sans-serif;
  src: url(/css/Font/MacPawFixel/MacPawFixel-VF.ttf);
} */

/*

--- 01 TYPOGRAPHY

- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line hights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing: 
-0.5px
0.75px

--- 02 COLORS 

– Primary: #141322
- Secondary: #ff4500

– Tints: 
– Shadows: #992900

– Accents: 
– Greys: #969696

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


--- 06 BORDER_RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

$color-primary: #141322;
$color-secondary: #ff4500;
$color-grey-main: #969696;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  /* position: relative; */

  font-family: 'Lato', sans-serif; /* 'MacPaw Fixel' */
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: $color-primary;
  overflow-x: hidden;
}

.main {
  margin: 0 auto;
  padding: 0 12rem;
  max-width: 130rem;
}

/***************************/
/* GENERAL REUSABLE COMPONENTS */
/***************************/

.hero-heading-primary {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: $color-secondary;
  padding: 1.4rem 4.2rem;
  border: solid 1px $color-secondary;
  border-radius: 5px;
  font-size: 1.6rem;

  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #e63e00;
  color: #fff;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/***************************/
/* HEADER */
/***************************/

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header  to be sticky */
  height: 9.6rem;
  width: 100%;
  padding: 3.2rem 2.4rem;
  z-index: 100;
}

.logo {
  height: 5.4rem;
}

/***************************/
/* Navigation */
/***************************/

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: hsl(244, 28%, 10%, 0.9);
}

.main-nav {
  font-weight: 400;
  /* position: sticky;
  top: 0; */
}

.main-nav a {
  color: #fff;
}

.main-nav span {
  color: $color-secondary;
}

.main-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  gap: 3.2rem;

  position: sticky;
  top: 0;
}

.main-nav-list-item:link,
.main-nav-list-item:visited {
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-list-item:hover,
.main-nav-list-item:active {
  color: $color-secondary;
}

/* .header-nav.sticky {
  /* position: fixed;
  top: 0;
  background-color: hsl(244, 28%, 10%, 0.9); 
/* }  */

/***************************/
/* HERO SECTION */
/***************************/

.section-hero {
  /* padding: 11rem 20rem 9.6rem 20rem; */
  padding: 11rem 0 9.6rem 0;
  margin-bottom: 9.6rem;
  margin-top: 2rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.hero-introduce-text {
  color: $color-secondary;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.heading-secondary-color {
  color: $color-grey-main;
}

.hero-description {
  /* display: grid; */
  /* grid-template-columns: 2fr 1fr; */
  max-width: 58.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-main;
  margin-bottom: 4.8rem;
}

a {
  text-decoration: none;
  color: $color-secondary;
}

/* 
a:hover {
  text-decoration: underline;
}

a:active {
  color: #969696;
  font-weight: 600;
} */

/***************************/
/* ABOUT SECTION */
/***************************/

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 9.6rem;
}

.about-img {
  width: 100%;
}

.about-heading {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.about-heading {
  color: #fff;
}

.about-heading span {
  color: $color-secondary;
}

.about-text-box {
  max-width: 58.5rem;
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  color: $color-grey-main;
  margin-bottom: 4.8rem;
}

.about-list {
  list-style: inside;
  list-style: none;
}

.about-list li::before {
  content: '\2022';
  color: $color-secondary;
  font-weight: light;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.about-img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

/***************************/
/* SKILLS SECTION */
/***************************/

.skills {
  display: grid;
  grid-template-columns: 45fr 55fr;
  justify-content: center;
  align-items: center;
  margin-top: 9.6rem;
  margin-bottom: 9.6rem;
}

.skills-heading {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.skills-heading {
  color: #fff;
}

.skills-heading span {
  color: $color-secondary;
}

.skills-text-box {
  max-width: 58.5rem;
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  color: $color-grey-main;
  margin-bottom: 4.8rem;
  padding: 9.6rem 9.6rem 9.6rem 0;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.skills-skill-logo {
  margin-bottom: 1.2rem;
}

.skills-skill-header {
  margin-bottom: 1.2rem;
}

.skills-skill-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  color: $color-grey-main;
}

/***************************/
/* CONTACT SECTION */
/***************************/

.section-contact {
  display: flex;
  align-items: center;
  justify-content: center;

  /* padding: 11rem 20rem 9.6rem 20rem; */
  padding: 11rem 0 9.6rem 0;
  margin: 16rem 0 9.6rem 0;
  text-align: center;
}

.contact-introduce-text {
  color: $color-secondary;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.contact-heading-primary {
  display: flex;
  font-size: 4rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.contact-introduce-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-introduce-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.contact-description {
  max-width: 58.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-main;
  margin-bottom: 4.8rem;
}

/***************************/
/* FOOTER */
/***************************/

.section-footer {
  display: grid;
  justify-content: center;
}

.footer {
  display: block;

  text-decoration: none;
  color: $color-grey-main;
  margin-bottom: 2rem;
}

/***************************/
/* SOCIALS */
/***************************/

.socials {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* margin-bottom: 4rem; */
  margin-left: 4rem;
  z-index: 10;
}

.socials-line {
  /* height: 2px;
  width: 20px; */

  width: 1px;
  height: 120px;
  margin: 0px auto;
  background: $color-secondary;

  /* transform: rotate(90deg); */
}

.socials-logo {
  transition: all 0.4s;
}

.socials-logo:hover {
  filter: invert(36%) sepia(77%) saturate(4320%) hue-rotate(1deg)
    brightness(101%) contrast(104%);
  transform: translateY(-0.3rem);
}
