/* Webfont: MacPawFixelText-Regular */@font-face {
    font-family: 'MacPawFixelTextRegular';
    src: url('MacPawFixelText-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('MacPawFixelText-Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

