/* Webfont: MacPawFixelText-ExtraBold */@font-face {
    font-family: 'MacPawFixelTextExtraBold';
    src: url('MacPawFixelText-ExtraBold.woff2') format('woff2'), /* Modern Browsers */
         url('MacPawFixelText-ExtraBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

