/* Webfont: MacPawFixelText-ExtraLight */@font-face {
    font-family: 'MacPawFixelTextExtraLight';
    src: url('MacPawFixelText-ExtraLight.woff2') format('woff2'), /* Modern Browsers */
         url('MacPawFixelText-ExtraLight.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

