/* Webfont: MacPawFixelText-Black */@font-face {
    font-family: 'MacPawFixelTextBlack';
    src: url('MacPawFixelText-Black.woff2') format('woff2'), /* Modern Browsers */
         url('MacPawFixelText-Black.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

